// VARIABLES

$primary-color: white;
$secondary-color: #BC9F75;
$secondary-saturated: #c9a26c;
$secondary-desaturated: #fff8ee;
$secondary-dark: #6e6546;
$secondary-dark-accent: #b18d17;
$card-footer-background-color: lightgray;
