// VARIABLES

$background-color: white;
$primary-color: #BC9F75;
$saturated: #c9a26c;
$desaturated: #fff8ee;
$dark: #6e6546;
$light: #f1de9e;
$dark-accent: #b18d17;
$card-footer-background-color: lightgray;
